@model Course
@{
    ViewData["Title"] = "Edit";
}
<style>
    span{
        font-size:small;
    }
</style>

<form method="post" asp-action="Edit" asp-controller="course" asp-route-id="@Model.Id" class="p-5 m-5">
    <div class="ms-4">
        <label asp-for="CourseName" class="p-2">
        </label>
        <input class="form-control w-50 " asp-for="CourseName" value="@Model.CourseName" />
        <span asp-validation-for="CourseName" class="text-danger ps-2 text-lowercase"></span>

    </div>
    <div class="ms-4">
        <label asp-for="Degree" class="p-2"></label>
        <input class="form-control w-50 " asp-for="Degree" value="@Model.Degree" />
        <span asp-validation-for="Degree" class="text-danger ps-2 text-lowercase"></span>

    </div>
    <div class="ms-4">
        <label asp-for="MinDegree" class="p-2"></label>
        <input class="form-control w-50 " asp-for="MinDegree" value="@Model.MinDegree" />
        <span asp-validation-for="MinDegree" class="text-danger ps-2 text-lowercase"></span>

    </div>
    <div class="mb-3 ms-4">
        <label for="dept_Id" class="form-label p-2">Department</label>

        <select id="dept_Id" class="form-control w-50 " name="Dept_Id">
            @foreach (var dept in ViewBag.Depts)
            {

                if (Model.dept_id == dept.Id)
                {
                    <option value="@dept.Id" selected>@dept.Name</option>

                }
                <option value="@dept.Id">@dept.Name</option>
            }
        </select>
        <span asp-validation-for="dept_id" class="text-danger ps-4 fs-6"></span>
    </div>

    <input type="submit" value="Update" class="btn btn-success mt-5 ms-5" />
</form>

<a asp-action="index" class="ps-5 ms-3 btn-success">back to list</a>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

